<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head') %>
</head>

<body>
    <header>
        <%-include('../partials/header') %>
    </header>

    <main>
        
       <%-include('../partials/buscador') %> 

       <section>
        <div>
            <h1>ALQUILERES DESTACADOS</h1>
        </div>
        <article>
            <div class="cardAlquiler">
                <img src="/images/dpto1.png" alt="dpto1" class="queryUno">
                <p>Alquiler temprario - Santa Rita</p>
                <p>Descripcion de la Propiedad</p>
                <button class="botonVerMas"><a href="" id="botonVerMas">Ver más</a></button>
            </div>
            <div class="cardAlquiler">
                <img src="/images/dpto2.png" alt="dpto2" class="queryUno">
                <p>Alquiler - Departamento centrico</p>
                <p>Descripcion de la Propiedad</p>
                <button class="botonVerMas"><a href="" id="botonVerMas">Ver más</a></button>
            </div>
            <div class="cardAlquiler">
                <img src="/images/dpto3.png" alt="dpto3" class="queryUno">
                <p>Alquiler - Casa Cerro Blanco</p>
                <p>Descripcion de la Propiedad</p>
                <button class="botonVerMas"><a href="" id="botonVerMas">Ver más</a></button>
            </div>
            <div class="cardAlquiler">
                <img src="/images/dpto4.png" alt="dpto4" class="queryUno">
                <p>Alquiler - Los Manantiales</p>
                <p>Descripcion de la Propiedad</p>
                <button class="botonVerMas"><a href="" id="botonVerMas">Ver más</a></button>
            </div>
        </article>
    </section>

    <section>
        <h1>VENTAS DESTACADAS</h1>
        <article>
            <div class="cardVenta">
                <img src="/images/casa1.png" alt="casa3" class="queryUno">
                <p>Venta - Departamento La Paz</p>
                <p>Descripcion de la Propiedad</p>
                <button class="botonVerMas"><a href="" id="botonVerMas">Ver más</a></button>
            </div>
            <div class="cardVenta" id="cardCentral">
                <img src="/images/casa2.png" alt="casa2" class="queryUnoCentral">
                <p>Venta - CABAÑAS LOS ÁLAMOS - Breve descripcion</p>
                <button class="botonVerMas"><a href="" id="botonVerMas">Ver más</a></button>
            </div>
            <div class="cardVenta">
                <img src="/images/casa3.png" alt="casa3" class="queryUno">
                <p>Venta - Villa del Lago</p>
                <p>Descripcion de la Propiedad</p>
                <button class="botonVerMas"><a href="" id="botonVerMas">Ver más</a></button>
            </div>
        </article>
    </section>

    <footer>
        <%-include('../partials/footer') %>
    </footer>

</body>

</html>