<div class="buscador">
    <select name="Tipo de inmueble" class="tipoInmueble" id="">
        <option disabled selected>Tipo de inmueble</option>
        <option value="Departamento">Departamento</option>
        <option value="Casa">Casa</option>
        <option value="Local">Local</option>
        <option value="Oficina">Oficina</option>
        <option value="Cochera">Cochera</option>
        <option value="Cabaña">Cabaña</option>
        <option value="Terreno">Terreno</option>
    </select>
    <select name="Operacion" class="operacion" id="">
        <option disabled selected>Operacion</option>
        <option value="Venta">Venta</option>
        <option value="Alquiler">Alquiler</option>
    </select>
    <select name="Ubicacion" class="ubicacion" id="">
        <option disabled selected>Ubicacion</option>
        <option value="Villa Carlos Paz">Villa Carlos Paz</option>
        <option value="Bialet Massé">Bialet Massé</option>
        <option value="Villa Icho Cruz">Villa Icho Cruz</option>
        <option value="La Falda">La Falda</option>
        <option value="Cabalango">Cabalango</option>
        <option value="Cuesta Blanca">Cuesta Blanca</option>
        <option value="Cosquín">Cosquín</option>
    </select>
    <select name="Ambientes" class="ambientes" id="">
        <option disabled selected>Ambientes</option>
        <option value="Monoambiente">Monoambiente</option>
        <option value="2 Ambientes">2 Ambientes</option>
        <option value="3 Ambientes">3 Ambientes</option>
        <option value="4 Ambientes">4 Ambientes</option>
        <option value="5+ Ambientes">5+ Ambientes</option>
    </select>
    <button class="botonBuscar"><i class="fas fa-search lupa"></i> Buscar</button>
</div>