<div class="flexFooter">
    <div class="navFooter">
        <a href="/home/" class="logoGrid"><img src="/images/Socin - Copy - Copy.jpg"
                alt="Logo Debora Socin Servicios Inmobiliarios" class="logo"></a>
    </div>
    <div class="navFooter matriculasRedes">
        <div><i class="fas fa-sign iconFooter"></i>Servicios Inmobiliarios, M.P N° 4870</div>
        <div><i class="fas fa-sign iconFooter"></i> Administración de consorcios ʀᴇɢ ɴ° 132</div>
        <div><i class="fas fa-hashtag iconFooter"></i> Servicios Psicológicos M.P N° 11.398</div>
        <div><i class="fas fa-hashtag iconFooter"></i> SEGUINOS EN : <a
                href="https://www.facebook.com/Debora-Socin-Ventas-Inmobiliarias-230194020686106" target="_blank"><i
                    class="fab fa-facebook-square fc"></i></a> <a
                href="https://www.instagram.com/debora_socin_inmobiliaria/" target="_blank"><i
                    class="fab fa-instagram-square ig"></i></a> <a href="https://web.whatsapp.com" target="_blank"><i
                    class="fab fa-whatsapp-square what"></i></a> </div>
    </div>
    <div class="navFooter datosFooter">
        <div><i class="fas fa-phone-square-alt iconFooter cell"></i> (+54 9) 3541 31-6482 </div>
        <div><i class="far fa-envelope iconFooter mail"></i> deborasocin@hotmail.com </div>
        <div><i class="far fa-clock iconFooter horarios"></i> Lunes a Viernes de 14 a 18hs </div>
        <div><i class="fas fa-map-marker-alt iconFooter maps"></i> Lisandro de la Torre 379, Villa Carlos Paz
        </div>
    </div>
    <div class="navFooter">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.624974533301!2d-64.5053780366299!3d-31.424457145586082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d66387fc5049f%3A0xa22f39220c188a1c!2sLisandro%20de%20la%20Torre%20379%2C%20Villa%20Carlos%20Paz%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1635189427559!5m2!1ses-419!2sar"
            width="600" height="450" style="border:2" allowfullscreen="" class="iframeMap" loading="lazy"></iframe>
    </div>
</div>

<div class="copyright">
    <p>Todos Los Derechos Reservados © 2021 Carlos Socin</p>
</div>