<div class="fondoLago">

    <div class="hamburguesa">
        <label for="hamb"><img src="/images/hamburger.png" class="imgHamburger" alt="hamburguesa"></label>
    </div>

    <input type="checkbox" name="hamb" id="hamb">
    <ul class="submenu_hamburger">
        <li><a href="">Consorcios</a></li>
        <li><a href="/home/ventas">Ventas</a></li>
        <li><a href="/home/alquileres">Alquileres</a></li>
        <li><a href="">Tasaciones</a></li>
        <li><a href="/home/contacto" class="contacto">Contacto</a></li>
    </ul>


    <nav class="navButtons">
        <a href="">Administracion de Edificios</a>
        <a href="/home/ventas">Ventas</a>
        <a href="/home/alquileres">Alquileres</a>
        <a href="">Tasaciones</a>
        <a href="/home/contacto" class="contacto">Contacto</a>
    </nav>

    <div class="logoSlogan">
        <a href="/home/" class="logoGrid"><img src="/images/Socin - Copy - Copy.jpg"
                alt="Logo Debora Socin Servicios Inmobiliarios" class="logo"></a>
        <div class="slogan">
            <p>"Asesoramiento y compromiso inmobiliario"</p>
        </div>
    </div>

</div>